lugs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/logs
.#*
.ensime
.ensime_cache
.DS_Store
client/elm-stuff
client/elm.js
client/endex.html
public/javascripts/main-elm.js
app/assets/elm
