lugs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/logs
.#*
.ensime
.ensime_cache
scalastyle-config.xml
.DS_Store
client/<Plug>lm-stuff
client/<Plug>lm.js
client/<Plug>ndex.html
public/javascripts/main-elm.js
