$white: #ffffff;
$black :#000000;

// darkest to lightest
$gray110: #1b252b;
$gray100: #2b353a;
$gray90 : #434c51;
$gray80 : #5b6368;
$gray70 : #737a7f;
$gray60 : #8b9195;
$gray50 : #a3a9ac;
$gray40 : #bbc0c3;
$gray30 : #d3d6d9;
$gray20 : #eaedef;
$gray10 : #fbfdff;

$yellow: #f2e415;
$red   : #ee3551;
$purple: #b111fc;

$blue_xlight: #89d3f8;
$blue_light : #5ec2f3;
$blue_med   : #12a7f2;
$blue_dark  : #0f71a1;
$blue_xdark : #006395;

$purple_xlight: #d387fd;
$purple_light : #c45cfd;
$purple_med   : #af26fb;
$purple_dark  : #9244bc;
$purple_xdark : #6e0ca3;

$red_xlight    : #ff9996;
$red_light     : #ff5651;
$red_med       : #ff2c26;
$red_dark      : #d40500;
$red_xdark     : #b20500;
$red_diff_light: #ffecec;
$red_diff_dark : #510705;

$yellow_xlight     : #fbb917;
$yellow_light      : #fdd017;
$yellow_light_soft : #ffdb58;
$yellow_med        : #f1e432;
$yellow_dark       : #e9ab17;
$yellow_xdark      : #9d9310;
$yellow_muted      : #ede275;

$green_xlight    : #7fff8e;
$green_light     : #3ae64e;
$green_med       : #00aa15;
$green_dark      : #01bc19;
$green_xdark     : #00790f;
$green_diff_light: #eaffea;
$green_diff_dark : #004108;

$brown_xlight: #d4ad83;
$brown_light : #d49f66;
$brown_med   : #a97134;
$brown_dark  : #7f5f3d;
$brown_xdark : #6e4111;
