@import 'reset';
@import 'colors';

html,
body {
  font-family: 'Roboto Mono';
  line-height: 1.4em;
  letter-spacing: 0.03em;
}

body {
  background-color: $gray100;
  color: $gray20;
}

.main-content {
  height: 100%;
  width: 90%;
  margin: 100px auto;

  .title {
    margin: 10px 0;
    font-size: 1.4em;
  }
}

.titles,
.process {
  .content {
    display: table-row;
    width: 100%;

    span {
      display: table-cell;
      padding: 2px 5px;
    }
  }
}

.titles {
  color: $gray40;

  span {
    text-align: center;
  }
}

.process {
  .status {
    text-align: center;

    &.up {
      color: $green_light;
    }

    &.down {
      color: $red_light;
    }
  }

  .name {
    color: $brown_light;
  }

  .percentage-bar {
    min-width: 100px;

    rect.background {
      fill: $gray70;
    }

    rect.foreground {
      fill: $blue_light;
    }
  }
}

.process-list {
  display: table;
  width: 100%;
  margin: 0;
  background-color: $gray90;

  li {
    display: table-row-group;
  }
}

.refresh {
  background-color: $gray100;
  border: none;
  color: $gray30;
  cursor: pointer;
  font-size: 0.9em;
  outline: none;

  &:hover {
    background-color: $gray90;
    color: $green_light;
  }
}

.error {
  color: $red_med;
  font-size: 0.9em;
  margin: 30px 0;
  padding: 5px;
}